<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qg.www.dao.GpsDataDao">
    <resultMap id="BaseResultMap" type="com.qg.www.models.GpsData">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="LICENSEPLATENO" jdbcType="VARCHAR" property="licenseplateno"/>
        <result column="GPS_TIME" jdbcType="TIMESTAMP" property="gpsTime"/>
        <result column="LONGITUDE" jdbcType="DOUBLE" property="longitude"/>
        <result column="LATITUDE" jdbcType="DOUBLE" property="latitude"/>
        <result column="SPEED" jdbcType="INTEGER" property="speed"/>
        <result column="CAR_STAT1" jdbcType="CHAR" property="carStat1"/>
        <result column="GEOHASH" jdbcType="VARCHAR" property="geohash"/>
        <result column="ROW_KEY" jdbcType="VARCHAR" property="rowKey"/>
        <result column="HOUR_REPRE" jdbcType="VARCHAR" property="hourRepre"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, LICENSEPLATENO, GPS_TIME, LONGITUDE, LATITUDE, SPEED, CAR_STAT1, GEOHASH, ROW_KEY, 
    HOUR_REPRE
  </sql>

    <select id="listGeoHashAndNumByTimeAndLonAndLat" resultType="com.qg.www.models.GeoHash">
        <!-- 单表查询-->
    <if test="tableTwo==null">
        select GEOHASH,COUNT(GEOHASH) AS weight
        FROM
        ${tableOne}
        WHERE (GPS_TIME BETWEEN '${data.startTime}' AND '${data.endTime}')
        AND (LONGITUDE BETWEEN ${data.leftTopLon} AND ${data.rightBottomLon})
        AND (LATITUDE BETWEEN  ${data.rightBottomLat}AND ${data.leftTopLat})
        GROUP BY GEOHASH;
    </if>
    <if test="tableTwo!=null">
        select newT.GEOHASH,SUM(newT.weight)as weight from (select GEOHASH,COUNT(GEOHASH) AS weight
        FROM ${tableOne}  WHERE (GPS_TIME &gt;= '${data.startTime}')
        AND (LONGITUDE BETWEEN ${data.leftTopLon} AND ${data.rightBottomLon})
        AND (LATITUDE BETWEEN  ${data.rightBottomLat}AND ${data.leftTopLat})
        GROUP BY GEOHASH
        UNION ALL select GEOHASH,COUNT(GEOHASH) AS weight
        FROM ${tableTwo}  WHERE (GPS_TIME &lt;= '${data.endTime}')
        AND (LONGITUDE BETWEEN ${data.leftTopLon} AND ${data.rightBottomLon})
        AND (LATITUDE BETWEEN  ${data.rightBottomLat}AND ${data.leftTopLat})
         GROUP BY GEOHASH) as newT GROUP BY newT.GEOHASH;
    </if>

  </select>


</mapper>